*{
    font-family: sans-serif;
}
h1 {
    color: blue; 
    font-size: 45px;
    text-align: center;
    
}
h2 {
    color:rgb(26, 26, 170);
    text-align: center;
}

input {
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

p {
    display: block;
    font-weight: bold;
    text-align: center;
    margin: auto;
    color: blueviolet;


}